# Virtual environment
venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# IDEs
.idea/
.vscode/

# Database
*.sqlite3

# Logs
*.log

# MacOS
.DS_Store